# Python
venv/
venv311/
__pycache__/
*.pyc

# Env
.env

# Logs
*.log

# Node
node_modules/
build/
dist/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Output files
*.xlsx
temp/ 

frontend/.next

# large input files
templates/input files/

templates/


.next/
.pytest_cache/

.antigravity/

echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore